box2d-py==2.3.5
gym==0.26.2
imageio==2.23.0
matplotlib==3.6.2
numpy==1.24.1
pandas==1.5.2
Pillow==9.3.0
pygame==2.1.0
pyparsing==3.0.9
PyYAML==6.0
scikit-image==0.19.3
swig==4.1.1
torch==1.13.1
torchaudio==0.13.1
torchvision==0.14.1
tqdm==4.64.1